<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Joyeux Noël!{% endblock %}</title>
    <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic%7CLobster+Two:400,400italic,700,700italic%7CMountains+of+Christmas:400,700'
          rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/site/styles/core.css') }}" media="all" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/site/styles/refineslide.css') }}" media="all" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/site/styles/refineslide-theme-dark.css') }}" media="all" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/site/styles/thickbox.css') }}" media="all" />
    <script type="text/javascript" src="{{ asset('assets/site/scripts/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/site/scripts/thickbox.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/site/scripts/rotate.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/site/scripts/modernizr.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/site/scripts/jquery.validate.pack.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/site/scripts/jquery.jplayer.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/site/scripts/ttw-music-player.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/site/scripts/myplaylist.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/site/scripts/custom.js') }}"></script>
    <link  rel="stylesheet" href="{{ asset('assets/admin/vendors/bootstrap/dist/css/bootstrap.min.css') }}">
    <style>
        #snow{
            background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index:1;
            -webkit-animation: snow 10s linear infinite;
            -moz-animation: snow 10s linear infinite;
            -ms-animation: snow 10s linear infinite;
            animation: snow 10s linear infinite;
        }
        @keyframes snow {
            0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
            50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
            100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
        }
        @-moz-keyframes snow {
            0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
            50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
            100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
        }
        @-webkit-keyframes snow {
            0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
            50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
            100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
        }
        @-ms-keyframes snow {
            0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
            50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
            100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
        }
    </style>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body style="overflow: auto; height: 1150px;">
{% block body %}{% endblock %}
<script type="text/javascript">
    $( ":input" ).addClass( "form-control" );
</script>
<script type="text/javascript" src="{{ asset('assets/site/scripts/jquery.refineslide.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/site/scripts/ios-orientation-change-fix.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
