{% extends 'admin.html.twig' %}

{% block body %}

    <body class="nav-md">


    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="#" class="site_title"><i class="fa fa-gift"></i> <span>Wild christmas</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <!-- menu profile quick info -->
                    <!-- /menu profile quick info -->
                    <br>
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>Gestionnaire</h3>
                        </div>
                        <div class="menu_section active">
                            <ul class="nav side-menu" style="">
                                <li><a href=""><i class="fa fa-gift"></i> Gestion des cadeaux <span class="label label-success pull-right">Lutins</span></a></li>
                                <li><a href="livraison"><i class="fa fa-gift"></i> Gestion des livraisons <span class="label label-danger pull-right">Père Noël</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <!-- /menu footer buttons -->
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main" style="min-height: 1023px;">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3>Gestion des cadeaux</h3>
                        </div>
                    </div>
                    <hr>
                    <div class="row tile_count">
                        <div class="col-md-6 col-sm-4 col-xs-6 tile_stats_count">
                            <div class="col-md-6 col-sm-4 col-xs-6 tile_stats_count">
                                <span class="count_top"><i class="fa fa-gift fa-3x"></i> Demandes en cours</span>
                                <div class="count" style="color: #26B99A">{{ enfants|length}}</div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-4 col-xs-6 ">
                            <div class="col-md-6 col-sm-4 col-xs-6 tile_stats_count">
                                <span class="count_top"><i class="fa fa-gift fa-3x"></i> Cadeaux à livrer</span>
                                <div class="count" style="color: #26B99A">{{ enfants|length * 5}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="x_panel">
                                <div class="x_content">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                        </div>
                                        <div class="clearfix"></div>
                                        {% for enfant in enfants %}
                                            <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                                                <div class="well profile_view">
                                                    <div class="col-sm-12">
                                                        <h4 class="brief"><i>#{{ enfant.id }}</i></h4>
                                                        <div class="left col-xs-12">
                                                            <h2>{{ enfant.nom }} {{ enfant.prenom }}</h2>
                                                            <p><strong>Genre: </strong>{{ enfant.genre }}</p>
                                                            <p><strong>Création: </strong>{{ enfant.dateCreation | date('d/m/Y') }}</p>
                                                            <p><strong>Adresse: </strong>{{ enfant.adresse }} {{ enfant.ville }}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 bottom text-center">
                                                        <div class="col-xs-6 col-sm-6 emphasis">
                                                            <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#{{ enfant.id }}">
                                                                <i class="fa fa-gift"> </i> Voir les cadeaux</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal fade" id="{{ enfant.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-body">
                                                            <p>Cadeau 1 : {{ enfant.cadeau1 }}</p>
                                                            <p>Cadeau 2 : {{ enfant.cadeau2 }}</p>
                                                            <p>Cadeau 3 : {{ enfant.cadeau3 }}</p>
                                                            <p>Cadeau 4 : {{ enfant.cadeau4 }}</p>
                                                            <p>Cadeau 5 : {{ enfant.cadeau5 }}</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}



    </body>


{% endblock %}